BODY {
 background-color: #000000;
 scrollbar-face-color: #000000;
 scrollbar-shadow-color: #DD4444;
 scrollbar-highlight-color: #DD4444;
 scrollbar-3dlight-color: #000000;
 scrollbar-darkshadow-color: #000000;
 scrollbar-track-color: #000000;
 scrollbar-arrow-color: #DD4444;
  }
 
 A:link.Accueil {
 color:#FF5555!important;
 }
 
 A:visited.Accueil{
 color: #DD4444;
 }
 
.sombre {
 background: #505050;
 }
  
.titre {
 color:#DD4444;/**/
 }

.MaTable {
 border-color: #DD4444 #DD4444 #DD4444 #DD4444;
 background-color: #C0C0C0;
 }

.menu {
border-bottom:solid 0px #DD4444;
}

.boite {
border:solid 1px #ffffff;/*!!!!!*/
background-color:#C0C0C0;
 border-color: #DD4444 #DD4444 #DD4444 #DD4444;
}

.onglet {
border-color: #DD4444 #DD4444 #DD4444 #DD4444;
background-color:#808080;
}

a.onglet {
text-decoration:none;
color:#FF5555!important;
}

.onglet-actif {
border:solid 1px #DD4444;
border-bottom:solid 2px #C0C0C0;
background-color:#C0C0C0;
}
