BODY {
 background-color: #202020;
 scrollbar-face-color: #C0C0C0;
 scrollbar-track-color: #000000;
 }
 
 A:link.Accueil {
 color:#c0c0c0;!important
 }
 
 A:visited.Accueil{
 color: #c0c0c0
 }
 
.sombre {
 background: #606060;
 }
  
.titre {
 color:#AFB282;
 }

.MaTable {
 border-color: #ffffff #ffffff #ffffff #ffffff;
 background-color: #C0C0C0;
 }

.menu {
border-bottom:solid 0px #ffffff;
}

.boite {
border:solid 1px #ffffff;
background-color:#C0C0C0;
 border-color: #ffffff #ffffff #ffffff #ffffff;
}

.onglet {
border-color: #ffffff #ffffff #ffffff #ffffff;
background-color:#505050;
}

a.onglet {
text-decoration:none;
color:white!important;
}

.onglet-actif {
border:solid 1px #ffffff;
border-bottom:solid 2px #C0C0C0;
background-color:#C0C0C0;
}

